@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Yekan';
  src: local('Yekan'), local('Yekan'),
      url('../public/Yekan.woff') format('woff'),
      url('../public/Yekan.eot') format('eot');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
  direction: rtl;
}
.form-control{
  border-radius: 15px;
  border: 1px #0c8af8 solid;
  padding: 4px 12px;
  background-color: white;
  height: 22px;
  box-shadow: 0 0 2px #0074d9;
}